body {
  margin: 0;
  padding: 0;
  background-image: url("https://wallpaper.dog/large/10843243.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  text-align: center;
}

button {
  cursor: pointer;
  margin: 20px 0;
}

.level-button {
  font-size: 0.8em;
  padding: 0.5em 1em;
}

table {
  margin: auto;
  border-spacing: 0;
  border-color: rgb(200, 200, 200);
  border-style: inset;
  border-width: 10px;
  padding: 0.8px;
}

.stopwatch {
  font-size: 1.5rem;
  margin: auto;
  background-color: black;
  width: 50px;
  color: red;
  border-radius: 2px;
}
.score {
  font-size: 1.5rem;
  margin: auto;
  background-color: black;
  width: 50px;
  color: red;
  border-radius: 2px;
}

.cell {
  background-color: lightgray;
  border: 3px outset rgb(200, 200, 200);
  cursor: pointer;
  text-align: center;
  width: 40px;
  height: 40px;
}

.cell-pressed {
  background-color: rgb(165, 165, 165);
}
button.smile {
  background-color: rgb(200, 200, 200);
  border: outset 3px;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: large;
}
.lives img {
  width: 40px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  font-size: 30px;
  bottom: 5%;
  left: 40%;
}

.controls {
  text-align: center;
}

.test {
  display: flex;
  flex-direction: row;
  margin: 0px 377px;
  background-color: rgb(200, 200, 200);
  border: inset 10px;
  border-color: rgb(200, 200, 200);
  margin-bottom: -10px;
}
